{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title">List of Vehicles</h5>
        </div>
        <div>
            <td>{{ capacity }} available places</td>
        </div>
        <div class="card-body">
            <form action="/vehicles/add-vehicle" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="registration_number" placeholder="Registration number" required>
                    <button type="submit" class="btn btn-primary">Park Vehicle</button>
                </div>
            </form>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Registration no</th>
                        <th scope="col">Arrival</th>
                        <th scope="col">Departure</th>
                        <th scope="col">Status</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Bill</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                {% for vehicle in vehicles %}
                {% if vehicle.status == True %}
                    <tr class="pointer">
                        <td>{{ loop.index }}</td>
                        <td>{{ vehicle.registration_number }}</td>
                        <td>{{ vehicle.arrival.strftime("%Y-%m-%d %H:%M")  }}</td>
                        <td>{{ vehicle.departure }}</td>
                        <td>Parked</td>
                        <td>{{ vehicle.duration }} jam</td>
                        <td>Rp. {{ vehicle.bill }}</td>
                        <td>
                            <button onclick="window.location.href='complete/{{ vehicle.id }}'"
                                    type="button" class="btn btn-danger">Close</button>
                        </td>
                    </tr>
                {% else %}
                    <tr class="pointer">
                        <td>{{ loop.index }}</td>
                        <td>{{ vehicle.registration_number }}</td>
                        <td>{{ vehicle.arrival.strftime("%Y-%m-%d %H:%M")  }}</td>
                        <td>{{ vehicle.departure.strftime("%Y-%m-%d %H:%M")  }}</td>
                        <td>Has left</td>
                        <td>{{ vehicle.duration }} jam</td>
                        <td>Rp. {{ vehicle.bill }}</td>
                        <td>
                            <button onclick="window.location.href='summary/{{ vehicle.id }}'"
                                    type="button" class="btn btn-success">Summary</button>
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}

                </tbody>

            </table>

        </div>
    </div>
</div>


<style>
    .form-container {
        display: flex;
        align-items: center; /* mengatur vertikal tengah */
    }

    .form-group {
        display: flex;
        gap: 10px; /* jarak antar input dan tombol */
    }

    .form-control {
        flex-grow: 1; /* input akan mengisi ruang yang tersisa */
    }

    .btn-primary {
        min-width: 120px; /* lebar minimum tombol */
        width: auto; /* lebar akan menyesuaikan dengan konten */
        white-space: nowrap; /* teks tidak pindah ke bawah */
    }

    h6.card-title {
        float: right;
    }

</style>

