<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', path='parman/css/base.css') }}">
    <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', path='parman/css/bootstrap.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parman</title>
</head>
<body>

{% include 'navbar.html' %}

{% block content %}

{% endblock %}

<script src="{{ url_for('static', path='parman/js/jquery-slim.js') }}"></script>
<script src="{{ url_for('static', path='parman/js/popper.js') }}"></script>
<script src="{{ url_for('static', path='parman/js/bootstrap.js') }}"></script>

</body>
</html>