{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Capacity</label>
                    <input type="text" class="form-control" name="capacity" value="{{rules.capacity}}" required>
                </div>
                <div class="form-group">
                    <label>First 1 hour bill</label>
                    <input type="text" class="form-control" name="bill1" value="{{rules.bill1}}" required>
                </div>
                <div class="form-group">
                    <label>Next bill every 1 hour</label>
                    <input type="text" class="form-control" name="bill2" value="{{rules.bill2}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

