{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            SUMMARY
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>Registration Number : </label>
                <label>{{vehicle.registration_number}} </label>
            </div>
            <div class="form-group">
                <label>Arrival : </label>
                <label>{{vehicle.arrival.strftime("%Y-%m-%d %H:%M")}} </label>
            </div>
            <div class="form-group">
                <label>Departure : </label>
                <label>{{vehicle.departure.strftime("%Y-%m-%d %H:%M")}} </label>
            </div>
            <div class="form-group">
                <label>Status : </label>
                <label>Has left </label>
            </div>
            <div class="form-group">
                <label>Duration : </label>
                <label>{{vehicle.duration}} jam </label>
            </div>
            <div class="form-group">
                <label>Bill : </label>
                <label>Rp. {{vehicle.bill}} </label>
            </div>
        </div>
    </div>
</div>
